<ion-header>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Css -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i" rel="stylesheet">
  <title>Forms | Tailwind Admin</title>
</ion-header>

<ion-content>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  

  <!--Container -->
  <div class="mx-auto bg-grey-400">
      <!--Screen-->
      <div class="min-h-screen flex flex-col">
          <!--Header Section Starts Here-->
          <header class="bg-nav">
              <div class="flex justify-between">
                  <div class="p-1 mx-3 inline-flex items-center">
                      <i class="fas fa-bars pr-2 text-white" onclick="sidebarToggle()"></i>
                      <h1 class="text-white p-2">COMBO TAXI</h1>
                  </div>
              </div>
          </header>
          <!--/Header-->
          <div class="flex flex-1">
              <!--Main-->
              <form action="/ObtenerDatos/" method="get" class="" size="auto">
              <main class="bg-white-300 flex-1 p-3 overflow-hidden">
                <!--   <input class="buttons" type="submit" (click)="cargarTablets()" name="" value="Ingresar"> -->
                  <div class="flex flex-col">
                      <!-- Stats Row Starts Here -->
                      <!-- /Stats Row Ends Here -->
                      <!-- Card Sextion Starts Here -->
                      <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
                          <!-- card -->
                          <div class="rounded overflow-hidden shadow bg-white mx-2 w-full"
                          ng-controller="controller">
                              <div class="px-6 py-2 border-b border-light-grey">
                                  <div class="font-bold text-xl">Taxis Disponibles</div>
                              </div>
                              <div class="table-responsive" >
                                  <table class="table text-grey-darkest">
                                      <thead class="bg-grey-dark text-white text-normal">
                                      <tr>
                                          <th style="width: 200px; text-align: center;" scope="col">Placa</th>
                                          <th style="width: 200px; text-align: center;" scope="col">Automóvil</th>
                                          <th style="width: 200px; text-align: center;" scope="col">Conductor</th>
                                          <th style="width: 200px; text-align: center;" scope="col"></th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let taxi of listTaxisDisponibles | async" >
                                              <td *ngIf="taxi.estado == 'Disponible'" style="width: 200px; text-align: center;">{{taxi.placa}}</td>
                                              <td *ngIf="taxi.estado == 'Disponible'" style="width: 200px; text-align: center;">{{taxi.modelo}}</td>
                                              <td *ngIf="taxi.estado == 'Disponible'" style="width: 200px; text-align: center;">{{taxi.conductor}}</td>
                                              <td *ngIf="taxi.estado == 'Disponible'" style="width: 200px; text-align: center;">   
                                                <button class="bg-gray-200 hover:bg-gray-500 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center" style="color: white;">
                                                  <a [routerLink]="">
                                                    Contratar
                                                  </a>
                                                </button>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                          <!-- /card -->
                      </div>
                      <!-- /Cards Section Ends Here -->
                      <!--/Profile Tabs-->
                  </div>
              </main>
              </form>
              <!--/Main-->
          </div>
          <!--Footer-->
          <footer class="bg-grey-darkest text-white p-2">
              <div class="flex flex-1 mx-auto">&copy; Combo Taxi App</div>
          </footer>
          <!--/footer-->
      </div>
  </div>
  <script src="./main.js"></script>
</ion-content>